@using Blocktrust.CredentialWorkflow.Web.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AppStateService AppStateService

<div>
    <AuthorizeView>
        <Authorized>
            <div class="flex flex-row text-slate-100">
                <a class="flex text-white no-underline font-light border rounded border-gray-700 hover:bg-slate-500 bg-slate-600 px-4 py-0.5 mr-2" href="Account/Manage">
                    @context.User.Identity?.Name
                </a>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                    <button type="submit" class="flex text-white no-underline font-light border rounded border-gray-700 hover:bg-slate-500 bg-slate-600 px-4 py-0.5">
                        Logout
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="flex flex-row text-slate-100">
                <a class="flex text-white no-underline font-light border rounded border-gray-700 hover:bg-slate-500 bg-slate-600 px-4 py-0.5 mr-2" href="Account/Register">
                    <span aria-hidden="true"></span>
                    Register
                </a>
                <a class="flex text-white no-underline font-light border rounded border-gray-700 hover:bg-slate-500 bg-slate-600 px-4 py-0.5" href="Account/Login">
                    Login
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;
}