@using Blocktrust.CredentialWorkflow.Core.Domain.ProcessFlow.Triggers
@namespace Blocktrust.CredentialWorkflow.Web.Components.Features.Triggers

<div class="p-4 text-sm">
    <div class="space-y-3">
        <div class="p-2 border rounded-md">
            <label class="block text-xs font-medium text-gray-700 mb-1">Trigger Time</label>
            <input type="datetime-local" 
                   class="w-full rounded border px-2 py-1 text-xs"
                   @bind="TriggerInput.TriggerTime" 
                   @bind:after="OnValueChanged" />
        </div>
    </div>
</div>

@code {
    [Parameter] public TriggerInputPresetTimer TriggerInput { get; set; } = null!;
    [Parameter] public EventCallback OnChange { get; set; }

    private async Task OnValueChanged()
    {
        await OnChange.InvokeAsync();
    }
}