@using Blocktrust.CredentialWorkflow.Core.Domain.ProcessFlow.Outcomes

<div class="w-80 h-32 bg-gray-200 hover:bg-gray-100 shadow-md rounded-lg p-3 flex flex-col cursor-pointer text-sm relative transition-all duration-200 @(IsSelected ? "border-2 border-blue-500" : "")">
    <div class="overflow-hidden hover:overflow-visible hover:absolute hover:z-50 hover:bg-gray-100 hover:h-auto hover:w-80 hover:shadow-xl hover:rounded-lg hover:p-3">
        <h3 class="text-base font-bold mb-1">Workflow Outcomes</h3>
        <div class="flex items-center space-x-2 mb-2">
            <span class="@(Definition.Type == EOutcomeType.Success ? "bg-green-100 text-green-800" : "bg-red-100 text-red-800") px-2 py-1 rounded-full text-xs">
                @Definition.Type
            </span>
        </div>
        <p class="text-xs truncate hover:whitespace-normal">
            <strong>Message:</strong> @Definition.Message
        </p>
    </div>
    <button class="bg-red-500 hover:bg-red-600 text-white px-2 py-1 rounded mt-auto self-end transition-colors duration-200" 
            @onclick:stopPropagation="true" 
            @onclick="OnRemove">
        <span class="material-symbols-outlined text-xs">delete</span> 
    </button>
</div>

@code {
    [Parameter] public WorkflowOutcomeDefinition Definition { get; set; } = null!;
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public EventCallback OnRemove { get; set; }
}