@page "/Account/Manage/ChangePassword"

@using System.ComponentModel.DataAnnotations
@using Blocktrust.CredentialWorkflow.Core.Entities.Identity
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<div class="container mx-auto">
    <div class="mx-auto w-1/2 bg-gray-100 p-4 rounded-xl mt-10">
        <div class="flex flex-col content-between items-center justify-between">
            <StatusMessage Message="@message"/>
            <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator/>
                <h2 class="font-museo text-2xl mb-4">Change password</h2>
                @* <ValidationSummary class="font-light text-red-500" role="alert"/> *@
                <div class="mt-4">
                    <InputText type="password" @bind-Value="Input.OldPassword" class="bg-slate-200 px-2 py-1 rounded-md border border-slate-400" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password."/>
                    <label for="old-password" class="pl-6 font-light">Old password</label>
                    <ValidationMessage For="() => Input.OldPassword" class="font-light text-red-500"/>
                </div>
                <div class="mt-4">
                    <InputText type="password" @bind-Value="Input.NewPassword" class="bg-slate-200 px-2 py-1 rounded-md border border-slate-400" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password."/>
                    <label for="new-password" class="pl-6 font-light">New password</label>
                    <ValidationMessage For="() => Input.NewPassword" class="font-light text-red-500"/>
                </div>
                <div class="mt-4">
                    <InputText type="password" @bind-Value="Input.ConfirmPassword" class="bg-slate-200 px-2 py-1 rounded-md border border-slate-400" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                    <label for="confirm-password" class="pl-6 font-light">Confirm password</label>
                    <ValidationMessage For="() => Input.ConfirmPassword" class="font-light text-red-500"/>
                </div>
                <button type="submit" class="mt-4 bg-slate-700 rounded-md pl-4 py-1 pr-4 text-white font-light cursor-pointer">Update password</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;
    private bool hasPassword;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        hasPassword = await UserManager.HasPasswordAsync(user);
        if (!hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/SetPassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await UserManager.ChangePasswordAsync(user, Input.OldPassword, Input.NewPassword);
        if (!changePasswordResult.Succeeded)
        {
            message = $"Error: {string.Join(",", changePasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        Logger.LogInformation("User changed their password successfully.");

        RedirectManager.RedirectToCurrentPageWithStatus("Your password has been changed", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Current password")]
        public string OldPassword { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "New password")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm new password")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }

}